<a href="https://colab.research.google.com/github/ankurs241994/MachineLearning/blob/master/Python%20Assignment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Assignment 1

1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [3]:
str1 =""
for i in range(2000,3000+1):
    if(i%7==0 and i%5!=0):
       str1=str1 + str(i)+", "
    
str1

'2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, '

2. Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [4]:
list = []
n = 2
for i in range(n):
    if(i==0):
        a = input("Enter the Firstname:\n")
    else:
        a = input("Enter the Lastname:\n")
    list.append(a)
 
revlist = list[::-1]

str1=""
for s in revlist:
        str1= str1+s+" "

str1

Enter the Firstname:
Ankur
Enter the Lastname:
Singh

'Singh Ankur '

3. Write a Python program to find the volume of a sphere with diameter 12 cm. 
Volume = 4/3 * pie * 4^3

In [5]:
pie = 3.142
diameter = 12
radius = diameter/2
vol = (4/3 * pie * (radius**3))

print(f'The volume of the sphere is : {vol}')

The volume of the sphere is : 904.896